In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [5]:
df = DataFrame(data = {'Python':np.random.randint(0,150,size=5),
                       'Math':np.random.randint(0,150,size=5),
                       'En':np.random.randint(0,150,size=5)},
              index = list('ABCDE'))
df

   Python  Math   En
A      13   118   72
B      24    76   74
C      22    26  143
D      50    64   92
E     131   121   57

In [8]:
df2 = DataFrame(data=np.random.randint(0,150,size=(10,4)),
                index=list('ABCDEFGHIJ'),
                columns=['Python','Math','En','Physic'])
df2

   Python  Math   En  Physic
A     141    78   49       2
B       3    29   79      65
C     109    18   76      60
D      65    31   46      63
E     108    10   51      94
F      86    89   39      22
G      89     7   84      56
H     116    65  145      93
I     100     7   11      71
J     119     8   41      76

### 保存

In [9]:
df2.to_csv('./dara.txt')

In [ ]:
df2.to_excel('./data1.xlsx')