In [3]:
import numpy as np

import pandas as pd
from pandas import Series,DataFrame

import matplotlib.pyplot as plt

## 创建Series

In [5]:
# ndarray创建
s = Series(data = np.random.randint(0,150,size=10),index=list('abcdefhijk'),name='Pyhton')
s

a     97
b    111
c    117
d     98
e    131
f     46
h     72
i    137
j     74
k    114
Name: Pyhton, dtype: int32

In [8]:
# 字典创建
s2  =Series({'A':144,"B":120,'C':176})    
s2

A    144
B    120
C    176
dtype: int64

## 索引

In [9]:
s

a     97
b    111
c    117
d     98
e    131
f     46
h     72
i    137
j     74
k    114
Name: Pyhton, dtype: int32

In [10]:
s[2]

117

In [11]:
s['a']

97

In [14]:
s[['a','d','d','d','d','f']]

a    97
d    98
d    98
d    98
d    98
f    46
Name: Pyhton, dtype: int32

In [15]:
s.iloc[1]

111

In [16]:
s.loc['a']

97

## 切片

In [17]:
s['a':'h']

a     97
b    111
c    117
d     98
e    131
f     46
h     72
Name: Pyhton, dtype: int32

In [18]:
s[1:4]

b    111
c    117
d     98
Name: Pyhton, dtype: int32

In [19]:
s.iloc[1:6]

b    111
c    117
d     98
e    131
f     46
Name: Pyhton, dtype: int32

In [20]:
s.loc['a':'d']

a     97
b    111
c    117
d     98
Name: Pyhton, dtype: int32

## 属性

In [21]:
s.shape

(10,)

In [22]:
s.size

10

In [24]:
s.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'h', 'i', 'j', 'k'], dtype='object')

In [26]:
s.values  # Series中的值是ndarray

array([ 97, 111, 117,  98, 131,  46,  72, 137,  74, 114])

In [27]:
s.head() # 查看前几行值 默认n=5

a     97
b    111
c    117
d     98
e    131
Name: Pyhton, dtype: int32

In [28]:
s.tail() # 查看后几行值 默认n=5

f     46
h     72
i    137
j     74
k    114
Name: Pyhton, dtype: int32

In [30]:
s[['a','f']] = np.NAN
s

a      NaN
b    111.0
c    117.0
d     98.0
e    131.0
f      NaN
h     72.0
i    137.0
j     74.0
k    114.0
Name: Pyhton, dtype: float64

In [33]:
emp = s.isnull()

In [34]:
s[emp]

a   NaN
f   NaN
Name: Pyhton, dtype: float64

In [36]:
notemp = s.notnull()

In [37]:
s[notemp]

b    111.0
c    117.0
d     98.0
e    131.0
h     72.0
i    137.0
j     74.0
k    114.0
Name: Pyhton, dtype: float64

In [38]:
s2

A    144
B    120
C    176
dtype: int64

In [39]:
s2.name = 'Math'

In [40]:
s2

A    144
B    120
C    176
Name: Math, dtype: int64

In [43]:
s3 = s.add(10,fill_value=0)  # fill_value 参数，把nan数据当成什么数
s3

a     10.0
b    121.0
c    127.0
d    108.0
e    141.0
f     10.0
h     82.0
i    147.0
j     84.0
k    124.0
Name: Pyhton, dtype: float64

In [46]:
s3.astype(np.uint8)  # 改数据类型

a     10
b    121
c    127
d    108
e    141
f     10
h     82
i    147
j     84
k    124
Name: Pyhton, dtype: uint8

In [47]:
s.value_counts() # 统计数据出现次数

114.0    1
74.0     1
137.0    1
72.0     1
131.0    1
98.0     1
117.0    1
111.0    1
Name: Pyhton, dtype: int64

In [48]:
s2

A    144
B    120
C    176
Name: Math, dtype: int64

In [52]:
s2['D'] = 155
s2

A    144
B    120
C    176
D    155
Name: Math, dtype: int64

In [50]:
s2+s3

A   NaN
B   NaN
C   NaN
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
h   NaN
i   NaN
j   NaN
k   NaN
dtype: float64